@import "fonts.css";
@import "bootstrap.min.css";

$white: #fff;
$blue: #1a3255;

body{
    font: 18px/1.3 "OpenSans", sans-serif;
    color: #787878;
}

a{
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 18px;
}

header, header a, header a:hover{
    color: $white;
}

.header-text{
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-item{
    margin-right: 49px;
}

.navbar-item:last-child{
    margin-right: 10px;
}

.navbar a{
    padding-bottom: 10px;
}

.navbar a:hover{
    border-bottom: 1px solid $white;
}

header h3{
    margin-top: 260px;
    position: relative;
    padding: 32px;
}

header h3:after{
    content: '';
    border-bottom: 1px solid $white;
    width: 266px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -133px;
}

.arrow{
    margin-top: 150px;
}

.next{
    font-size: 25px;
    border: 1px solid $white;
    padding: 6px 20px 13px 20px;
    display: block;
}

.button{
    margin-top: 25px;
    padding-right: 60px;
}

header button{
    color: $white;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

header button:after{
    content: '';
    position: absolute;
    right: -22px;
    top: 3px;
}

.pause button:after{
    background: url("../img/pause_bg.png") no-repeat;
    width: 19px;
    height: 20px;
}

.play button:after{
    background: url("../img/play_bg.png") no-repeat;
    width: 22px;
    height: 19px;
}

.play{
    display: none !important;
}

submit{
    cursor: pointer;
}

section{
    padding-top: 82px;
    padding-bottom: 79px;
}

section h3{
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

section h3:after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #769eca;
    width: 252px;
    bottom: 0;
    left: 50%;
    margin-left: -126px;
}

.little-text{
    font-size: 14px;
    line-height: 1.4;
}

.welcome{
    border-bottom: 1px solid #a5a5a5;
}

.photo{
    background: url("../img/photo.jpg") no-repeat;
    width: 1360px;
    height: 300px;
}

.slider img{
    margin: 0 auto 15px;
}

.slick-prev{
    background: url("../img/arrow_sl_left.jpg") no-repeat;
    width: 37px;
    height: 72px;
    text-indent: -9999px;
    padding: 0;
    border: none;
    position: absolute;
    left: 0;
    top: 30px;
}

.slick-next{
    background: url("../img/arrow_sl_right.jpg") no-repeat;
    width: 37px;
    height: 72px;
    text-indent: -9999px;
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    top: 30px;
}

ul{
  list-style: none;
}

.services li{
  border-bottom: 1px solid #d7d7d7;
  padding: 35px 0;
}

.services li:last-child{
  border: none;
}

.list p{
  padding-left: 140px;
}

.list p:before{
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  left: 0;
  top: 17px;
}

.trust p:before{
  background: url("../img/bottom_slaider_1.jpg") no-repeat;
}

.tax p:before{
  background: url("../img/bottom_slaider_2.jpg") no-repeat;
}

.employment p:before{
  background: url("../img/bottom_slaider_3.jpg") no-repeat;
}

.structuring p:before{
  background: url("../img/bottom_slaider_4.jpg") no-repeat;
}

.coming p:before{
  background: url("../img/bottom_slaider_5.jpg") no-repeat;
}

.office p:before{
  background: url("../img/bottom_slaider_6.jpg") no-repeat;
}

.corporate p:before{
  background: url("../img/bottom_slaider_7.jpg") no-repeat;
}

.compliance p:before{
  background: url("../img/bottom_slaider_8.jpg") no-repeat;
}

.management-item{
    margin-right: 61px;
    font-family: MyriadPro;
}

.management-item:last-child{
    margin-right: 0;
}

.man{
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.name{
    margin: 20px 0 0 0;
}

.blue-link{
    font-size: 14px;
    color: $blue;
}

.blue-link:hover{
    color: $blue;
}

.social a{
    margin-right: 6px;
}

.link-arrow{
    font-size: 14px;
    color: $blue;
    padding: 15px 60px;
    border: 1px solid $blue;
    font-family: MyriadPro;
    margin-top: 40px;
    display: inline-block;
}

.link-arrow:hover{
    color: $blue;
}

.blue .link-arrow:hover{
    color: $white;
}

.blue{
    color: $white;
    background: $blue;
    font-family: MyriadPro;
}

.map{
    background: $blue url("../img/map.png") no-repeat 50% 0;
    padding: 80px 0;
}

.blue .link-arrow{
    color: $white;
    border: 1px solid $white;
}

.map a{
    padding: 18px 10px 18px 35px;
}

label{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-left: 10px;
}

input[type=text], textarea{
    background: rgba(255, 255, 255, 0.07);
    border: none;
    padding: 10px 10px;
    width: 313px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

input[type=text]:first-child{
    margin-right: 30px;
}

textarea{
    height: 170px;
}

.resources .blue-link{
    margin-left: 13px;
}

.questions input[type=text]{
    margin-bottom: 20px;
}

.contact p{
    margin: 3px 0;
}

.contact span{
    color: #002e5f;
}

.copyright{
  border-top: 1px solid #dddddd;
}

footer a{
  color: #787878;
  font-size: 26px;
}

footer li{
  margin-bottom: 10px;
}

.linkedin-icon{
  padding-left: 25px;
}

.linkedin-icon:before{
  content: '';
  position: absolute;
  background: url("../img/lin.jpg") no-repeat;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 0;
}


@media screen and (max-width: 640px){
    h3{
        font-size: 46px;
    }
    section p{
        font-size: 28px;
    }
    .header-text{
        position: relative;
    }
    .header-bg{
        background: url("../img/header-text-bg.jpg") no-repeat;
        width: 640px;
        height: 769px;
        padding: 0;
    }
    .logo{
        background: #043355;
        height: 120px;
        text-align: center;
        padding-top: 42px;
    }
    .menu{
        text-align: center;
        padding-top: 46px;
    }
    .next{
      font-size: 40px;
      padding: 10px 30px 20px 30px;
    }
    .little-text{
        font-size: 24px;
    }
    .photo{
        background: url("../img/photo-sm.jpg") no-repeat;
    }
    .link-arrow{
        font-size: 23px;
        font-weight: bold;
    }
    h4{
        font-size: 28px;
    }
    .resources .blue-link{
        font-size: 24px;
        margin-left: 0px;
    }
    .register{
        flex-direction: column;
    }
    .register input{
        margin: 20px auto 0;
    }
    .register input:first-child{
        margin: 0 auto;
    }
    .box{
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #d7d7d7;
    }
    .contact{
      border-bottom: 2px solid $blue;
    }
}